doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    block scripts
      script(src="/build/main.es5.js")
      script(src="/build/polyfills.es5.js")
      script(src="/build/runtime.es5.js")
      script(src="/build/styles.es5.js")
      script(src="/build/vendor.es5.js")
      script(src="/build/main.es5.js")

    //- nav.navbar.navbar-expand-lg.navbar-light.bg-dark.navbar-own
    //-   .container
    //-       a.navbar-brand(href='/') BN
    //-       button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNavDropdown' aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation')
    //-         span.navbar-toggler-icon
    //-       #navbarNavDropdown.collapse.navbar-collapse
    //-         ul.navbar-nav
    //-           li.nav-item.active
    //-             a.nav-link(href='/')
    //-               | Home 
    //-               span.sr-only (current)
    //-           li.nav-item
    //-             a.nav-link(href='/list') List-Display
    //-           li.nav-item
    //-             a.nav-link(href='/create') Create
    //-           li.nav-item
    //-             a.nav-link(href='/about') About Us
    //-           li.nav-item.dropdown
    //-             a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
    //-               | Others
    //-             .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
    //-               a.dropdown-item(href='#') Action
    //-               a.dropdown-item(href='#') Another action
    //-               a.dropdown-item(href='#') Something else here
    //- .container
    //-   block content
    
    //- footer.page-footer.font-small.blue.pt-4.navbar-own
    //-   // Footer Links
    //-   .container-fluid.text-center.text-md-left
    //-     // Grid row
    //-     .row
    //-       // Grid column
    //-       .col-md-6.mt-md-0.mt-3
    //-         // Content
    //-         h5.text-uppercase STAY CONNECTED
    //-         p Contact us online or visit our store nearest to you for any information.
    //-       // Grid column
    //-       hr.clearfix.w-100.d-md-none.pb-3
    //-       // Grid column
    //-       .col-md-3.mb-md-0.mb-3
    //-         // Links
    //-         h5.text-uppercase Services
    //-         ul.list-unstyled
    //-           li
    //-             a(href='#!') Link 1
    //-           li
    //-             a(href='#!') Link 2
    //-           li
    //-             a(href='#!') Link 3
    //-           li
    //-             a(href='#!') Link 4
    //-       // Grid column
    //-       // Grid column
    //-       .col-md-3.mb-md-0.mb-3
    //-         // Links
    //-         h5.text-uppercase Social Media
    //-         ul.list-unstyled
    //-           li
    //-             a(href='#!') Link 1
    //-           li
    //-             a(href='#!') Link 2
    //-           li
    //-             a(href='#!') Link 3
    //-           li
    //-             a(href='#!') Link 4
    //-   .footer-copyright.text-center.py-3
    //-     | &copy; 2020 Copyright:
    //-     a(href='https://mdbootstrap.com/')  Biozid Rahman Niloy All Rights Reserved.

    //- script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    //- script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js')
